<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OBSIDIAN SHIELD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />

    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/index.css') }}" />
  </head>
  
  <body>
    <main class="main">
      {% include "includes/header.html" %}
      <section class="section">
        <div class="center-area">
          <div class="title-box"> 
            <h2>OBSIDIAN<br />SHIELD</h2>
            <p>AI 기반 실시간 추적 관제 시스템</p>
          </div>

          <div class="login-card">
            <div class="input-box">
              <span class="icon">👤</span>
              <strong>ID</strong>
              <input type="text" placeholder="아이디를 입력하세요" />
            </div>

            <div class="input-box">
              <span class="icon">🔒</span>
              <strong>PW</strong>
              <input type="password" placeholder="비밀번호를 입력하세요" />
            </div>

            <button type="button">로그인</button>
          </div>
      </section>
    </main>

    {% include "includes/footer.html" %}
  </body>
</html>
