* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title_area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title_area h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.title_area p {
    color: #b5c0cf;
    font-size: 19px;
}

.breadcrumb {
    color: #b7c5d6;
    font-size: 17px;
}

.filter_box {
    margin-top: 26px;
    padding: 16px;
    border: 1px solid rgba(120, 150, 180, 0.18);
    border-radius: 10px;
}

.filter_row {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 14px;
}

.filter_row:last-child {
    margin-bottom: 0;
}

.search_box {
    flex: 1;
    display: flex;
}

.search_box input {
    flex: 1;
    height: 56px;
    padding: 0 20px;
    background: #07111c;
    border: 1px solid #26394f;
    color: white;
    font-size: 17px;
    border-radius: 8px 0 0 8px;
}

.search_box button {
    width: 64px;
    border: none;
    background: #005be8;
    color: white;
    font-size: 26px;
    cursor: pointer;
    transition: all .15s ease;
    box-shadow: 0 4px 12px rgba(0,91,232,.35);
}

.search_box button:hover{
    background: #1976ff;
    box-shadow: 0 8px 18px rgba(0,91,232,.45);
    transform: translateY(-2px);
}

.search_box button:active{
    transform: translateY(2px) scale(.96);
    background: #0047b8;
    box-shadow:
        inset 0 4px 8px rgba(0,0,0,.45),
        0 1px 3px rgba(0,0,0,.2);
}

.search_box button:focus{
    outline: none;
}

label {
    color: #0091ff;
    font-weight: bold;
    font-size: 17px;
}

select {
    height: 48px;
    min-width: 160px;
    padding: 0 16px;
    background: #07111c;
    border: 1px solid #26394f;
    border-radius: 7px;
    color: white;
    font-size: 16px;
}

.table_box {
    margin-top: 18px;
    border: 1px solid rgba(120, 150, 180, 0.22);
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    height: 72px;
    padding: 0 34px;
    text-align: left;
    border-bottom: 1px solid rgba(120, 150, 180, 0.16);
    font-size: 20px;
}

th {
    font-weight: bold;
    color: #ffffff;
    background: rgba(8, 18, 30, 0.9);
}

td {
    color: #eef3fb;
}

.badge {
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: bold;
}

.badge.approve {
    color: #00ffc8;
    background: rgba(0, 150, 110, 0.25);
}

.badge.wait {
    color: #ffd400;
    background: rgba(160, 120, 0, 0.25);
}

.actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.actions button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.edit {
    color: #008cff;
}

.delete {
    color: #ff3333;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

.pagination {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.pagination button {
    width: 54px;
    height: 54px;
    border: 1px solid #26394f;
    background: #07111c;
    color: white;
    border-radius: 7px;
    font-size: 20px;
}

.pagination .current {
    background: #005be8;
}

.filter_btn,
.pagination a {
    width: 54px;
    height: 48px;
    border: 1px solid #26394f;
    background: #07111c;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter_btn {
    width: 70px;
    cursor: pointer;
}

.pagination a.current {
    background: #005be8;
}

.add_member_btn {
    height: 48px;
    padding: 0 22px;
    border: 1px solid #005be8;
    background: #005be8;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add_member_btn:hover {
    background: #1976ff;
}

.add_member_btn:active {
    transform: translateY(2px) scale(.96);
    background: #0047b8;
}

.right_btn{
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.member_add_box {
    margin-top: 20px;
    padding: 30px;
    border: 1px solid rgba(120, 150, 180, 0.22);
    border-radius: 10px;
    background: rgba(7, 16, 27, 0.88);
}

.add_row {
    margin-bottom: 22px;
}

.add_row label {
    display: block;
    margin-bottom: 8px;
    color: #0091ff;
    font-weight: bold;
    font-size: 17px;
}

.add_row input,
.add_row select {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: #07111c;
    border: 1px solid #26394f;
    border-radius: 7px;
    color: white;
    font-size: 16px;
}

.btn_area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin-top: 35px;
}

.save_btn {
    width: 120px;
    height: 46px;
    border: none;
    border-radius: 7px;
    background: #005be8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.save_btn:hover {
    background: #1976ff;
}

.save_btn:active {
    transform: scale(.96);
}

.cancel_btn {
    width: 120px;
    height: 46px;
    border: 1px solid #2e4259;
    border-radius: 7px;
    background: #07111c;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.cancel_btn:hover {
    background: #122033;
}

.cancel_btn:active {
    transform: scale(.96);
}